@import "variables.css";


.wrapper {
    display: flex;
    justify-content: space-between;
    background: var(--blackberry-black);
}

.lightHeader {
    display: flex;
    justify-content: space-between;
    background: var(--blackberry-black);
    padding:  0 40px;
}

.lightAvatar {
    height: 55px;
    background: var(--wash-me);
    color: #0d47a1;
    border-radius: 50%;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
}

.linksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    height: 60px;
}

.linksContainer > li {
    width: 110px;
    height: 30px;
    border-radius: 15px;
    padding-top: 10px;
    margin-right: 5px;
    list-style: none;
    text-align: center;
}

.linksContainer > li > a {
    text-decoration: none;
    color: var(--wash-me);
    font-weight: 700;
}

.linksContainer > li:hover {
    background: rgba(0.3, 0.3, 0.5, 0.5);
}

/*logo*/
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 40px;
    background: transparent;
}

.link {
    background: transparent;
    color: var(--wash-me);
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

.lightButton {
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 15px;
    background: var(--wash-me);
    color: var(--blackberry-black);
    font-size: 14px;
    font-weight: 600;
}

/*darkTheme*/

.darkHeader {
    display: flex;
    justify-content: space-between;
    background: var(--blackberry-black);
    color: white;
    padding:  0 40px;
}

.darkButton {
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 15px;
    background: var(--wash-me);
    font-size: 14px;
    font-weight: 600;
    background: var(--maritime-blue);
    color: var(--wash-me);
}

.darkLinkContainer {
    background: black;
}


